.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

.App-body {
  background-color: #f9f9f9;
}

ol {
  background: #a0cefc;
  padding: 20px;
}

ol li {
  text-align: left;
  background: #cce5ff;
  color: rgb(0, 28, 139);
  margin: 5px;
}

.photo {
  height: 50%;
  width:  50%;
}